rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ユーザーデータの読み込み
    match /users/{userId} {
      allow read: if request.auth.uid == userId;
    }
    
    // ユーザーデータの作成
    match /users/{userId} {
      allow create: if request.auth.uid == userId && request.resource.data == resource.data;
    }
  }
}